<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}
    <div class="container framed">
        <div class="post-form">
            <form method="post" action="/polls/create">
                <div><input type="text" name="question" class="short-input full" placeholder="Ask a question to be polled" required></div>
                <div><input type="text" name="option1" class="short-input full" placeholder="Option 1" required></div>
                <div><input type="text" name="option2" class="short-input full" placeholder="Option 2" required></div>
                <div><input type="text" name="option3" class="short-input full" placeholder="Option 3 (optional)"></div>
                <div><input type="text" name="option4" class="short-input full" placeholder="Option 4 (optional)"></div>

                <button type="submit" class="action-button">Create Poll</button>
            </form>
            <div class="clear"></div>
        </div>
    </div>

    {{> fragments/no_content_message}}

    {{> fragments/polls_container}}

    {{> fragments/footer}}

</body>

</html>