<!DOCTYPE html>
<html lang="en">
{{> fragments/html_header}}

<body>

    {{> fragments/top_bar}}

    <div class="container framed">

        {{> fragments/error_message}}

        <!-- Page header -->
        <div class="center-align">
            <h2>{{username}}'s Profile</h2>
        </div>

    </div>

    {{> fragments/footer}}

</body>
</html>